@import './base.css';
@import 'tailwindcss';

#app {
  margin: 0 auto;
  font-weight: normal;
  background: linear-gradient(135deg, #2a809b, #35bbd3);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
